__pycache__/
*.py[cod]
*$py.class
*.so
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.hypothesis/
.pytest_cache/
cover/
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
Pipfile.lock
poetry.lock
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
cython_debug/
.idea/
.DS_Store
# dataset
khana/
*.tar.gz